@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
//todo
<head>
    <title>QL khách hàng</title>
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="~/Scripts/Order/Add.js"></script>
</head>
<body>
    <label><h3> Thêm thông tin khách hàng</h3></label><br />
    <div class="col-lg-6" style="width: 30%">
        <label>First Name</label>
        <input id="txtfirstName" class="form-control" placeholder="First Name..."><br />

        <label>Last Name</label>
        <input id="txtlastName" class="form-control" placeholder="Last Name..."><br />

        <label>City</label>
        <input id="txtCity" class="form-control" placeholder="City..."><br />

        <label>Country</label>
        <input id="txtCountry" class="form-control" placeholder="Country..."><br />

        <label>Phone</label>
        <input id="txtPhone" class="form-control" placeholder="Phone..."><br />

        <input id="btSave" type="button" class="btn btn-success" value="Lưu thông tin"></input>

    </div>
</body>
