
@{
    ViewBag.Title = "Seach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>QL khách hàng</title>
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="/Scripts/Customer/seachCustomer.js"></script>
</head>
<body>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="input-group custom-search-form">
                <input type="text" id="seach" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="seachCustomer()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead >
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <!--Title bảng-->
                            </tr>
                            <tbody id="TableTitle">
                                <!--up noi dung bang-->
                            </tbody>
                        </thead>
                        <script type="text/html" id="Content">
                            <tr>
                                <td>${CustomerSMR.Id}</td>
                                <td>${CustomerSMR.FirstName} ${CustomerSMR.LastName}</td>
                                <td>${CustomerSMR.City}</td>
                                <td>${CustomerSMR.Country}</td>
                                <td>${CustomerSMR.Phone}</td>
                            </tr>
                            <!--Nôi dung bảng-->
                        </script>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</body>

