
@{
    ViewBag.Title = "Seach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>QL khách hàng</title>
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="/Scripts/Customer/seachCustomer.js"></script>
</head>
<body>
    <div>
        <div class="panel panel-default">
            <div class="input-group custom-search-form">
                <input type="text" id="seachName" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button id="seach" class="btn btn-default" type="button">
                        <i  class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body"  id="TableContent" class="col-md-12 col-sm-12 text-center" style="display: none">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead >
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <!--Title bảng-->
                            </tr>
                            <tbody id="Content">
                                <!--up noi dung bang-->
                            </tbody>
                        </thead>
                        <script type="text/html" id="Template">
                            <tr>
                                <td>${CustomerSMR.Id}</td>
                                <td>${CustomerSMR.FirstName} ${CustomerSMR.LastName}</td>
                                <td>${CustomerSMR.City}</td>
                                <td>${CustomerSMR.Country}</td>
                                <td>${CustomerSMR.Phone}</td>
                            </tr>
                            <!--Nôi dung bảng-->
                        </script>
                    </table>
                    <div>
                        <div>
                            <a href="javascript:void(0);" id="aPrevious" style="display: inline; font-size:large" class="previous-page">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0);" class="span-paging" style="font-size:large">
                                <span class="span-paging">
                                    Trang
                                    <span id="spanPageInfo" />
                                </span>
                            </a>
                            <a href="javascript:void(0);" id="aNext" style="display: inline; font-size:large" class="next-page">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</body>

